$white:#FFFFFF;
$black: #011013;
$black1:#1C1C1C;
$orange: #E5A042;
$orange1: #e39731;
$grey: #81898A;
$border: 7px solid $orange;
$border1: 1px solid $orange;
$border2: 1px solid $orange1;
$font: 'SF Pro Display';